/* SECTION #1 */

.main-content {
    padding-top: 45px;
    padding-bottom: 90px;
}

.main-section-content {
    padding-bottom: 90px;
}

.main-section-content__title--span {
    display: block;
    text-align: center;
    text-transform: none;
    font-size: 24px;
    font-family: 'Kaushan Script';
    font-weight: 300;
    margin-bottom: 20px;
}

.main-section-content__title {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'MontserratB';
    text-transform: uppercase;
    margin-bottom: 100px;
}

.main-section-content__title::after {
    position: absolute;
    content: '';
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

/* PARAGRAPH TEXT ICONS */

.list-item-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-section {
    position: relative;
    flex-basis: 382px;
    padding-left: 82px;
}

.list-section::before {
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
}

.list-section:nth-child(1):before {
    content: url(../../img/icons/alarm.svg);
}

.list-section:nth-child(2):before {
    content: url(../../img/icons/line_graph.svg);
}

.list-section:nth-child(3):before {
    content: url(../../img/icons/computer.svg);
}

.list-section:nth-child(4):before {
    content: url(../../img/icons/book.svg);
}

.list-section:nth-child(5):before {
    content: url(../../img/icons/home.svg);
}

.list-section:nth-child(6):before {
    content: url(../../img/icons/image.svg);
}

.list-section__paragraph-title  {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'MontserratR';
    margin-bottom: 20px;
}

.list-section:not(:nth-last-child(-n + 3)) {
    margin-bottom: 100px;
}

.list-section__text {
    font-family: 'RobotoR';
    font-size: 14px;
    color: #b3b3b3;
}

/* SECTION #2 */

.main-section-team__title--span {
    display: block;
    text-align: center;
    text-transform: none;
    font-size: 24px;
    font-family: 'Kaushan Script';
    font-weight: 300;
    margin-bottom: 20px;
}

.main-section-team__title {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'MontserratB';
    text-transform: uppercase;
    margin-bottom: 100px;
}

.main-section-team__title::after {
    position: absolute;
    content: '';
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.main-section-team__text {
    font-size: 14px;
    font-family: 'RobotoR';
    text-align: center;
    color: #b3b3b3;
    margin-bottom: 90px;
}

/* ICONS SOCIAL OVERLAY */

.list-team__command {
    position: relative;
    width: 380px;
    height: auto;
    transition: all 200ms;
}

.list-team__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(
         0deg, 
         rgba(252,227,138, 0.7) 0%, 
         rgba(243,129,129, 0.7) 100%
         );
    transition: all 200ms;
}

.list-team__item:hover .list-team__overlay {
    opacity: 1;
}

.list-team__item:hover .command {
    transform: translate(-10px, -10px);
}

.list-team__item:hover .list-team__command {
    opacity: 1;
    box-shadow: 10px 10px #95e1d3;
}

.list-team__item {
    list-style: none;
}

.social-list__img {
    width: 28px;
    height: 28px;
    fill: #f38181;
}

.social-list__item:hover .social-list__img {
    fill: #fff;
}

.social-list__item {
    margin-right: 1px;
}

.social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
} 

.social-list__link:hover {
    background-color: #f38181;
}



.team-list__name {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'MontserratR';
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 14px;
}

.team-list__position {
    font-size: 14px;
    font-family: 'RobotoL';
    text-align: center;
    color: #b3b3b3;
}



