
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'ubuntu', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 900px;
    margin: 0 auto; 
}

/*header*/

.headline {
    padding-top: 24px;
    margin-bottom: 102px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
}

.menu_item {
    padding: 0 30px;
    display: inline-block;
}

.menu_item a {
    font-weight: normal;
    text-decoration: none;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 14px;
    color: #626262;
}

.menu_item:hover .a_hov {
    color: #03a9f4;
}

/*main*/




