* {
    outline: 1px solid #f00;
}

body {
    font-family: 'ubuntu', sans-serif;
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

/*header*/

.menu {
    list-style: none;
}

.menu_item a {
    font-weight: normal;
    text-decoration: none;
    line-height: 24px;
    text-transform: uppercase;
}

/*main*/



h2 {
    font-size: 30px;
    line-height: 36px;
}

