/* DEFAULTS */
*{
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

div {
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
}

/* HEADER */

/* header */
.main-header {
    margin-top: 40px;
    margin-bottom: 36px;
}
/* LOGO */
.site-logo {
    margin: 0;
    float: left;
    font-weight: 400;
}

.logo::first-letter {
    font-weight: 700;
    color: #1abc9c;
}

.logo {
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: #0f0101;
}
/* MENU */
.site-menu {
    margin: 0;
    padding: 0;
    float: right;
}

.site-menu {
    display: block;
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
}

.menu-link {
    text-decoration: none;
    color: #0f0101;
}

.menu-item {
    margin-right: 40px;
    float: left;
    font-size: 14px;
    padding-top: 10px;
}

.menu-item:nth-last-child(1) {
    margin-right: 0;
}

.menu-item:hover .menu-link{
    color: #1abc9c;
}

/* MAIN */

/* SECTION BANNER BACKGROUND */

.banner {
    height: 600px;
    background-color: #181819;
    background-image: linear-gradient(to right,
            rgba(24, 24, 25, 0.1),
            rgba(24, 24, 25, 0.1)),
        url('../img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-head {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    padding-top: 208px;
    padding-left: 184px;
    padding-bottom: 22px;
    color: #ffffff;
}

.banner-text {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding-left: 184px;
}

/* BUTTONS CONTROLS */

.button {
    position: relative;
}

.button-left-prev,
.button-right-next {
    width: 104px;
    height: 104px;
    position: absolute;
    background: #1abc9c;
    opacity: 0.5;
    border: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.button-left-prev {
    bottom: 0;
    background-image: url(../img/left.png);
}

.button-right-next {
    right: 0;
    bottom: 0;
    background-image: url(../img/right.png);
}

.button-left-prev:hover {
    opacity: 1;
}

.button-right-next:hover {
    opacity: 1;
}





