
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

div {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1110px;
    margin: 0 auto; 
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;    
}

/* header */

.main-header {
    padding-top: 30px;
}

.site-logo a {
    float: left;
    display: block;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
}

.site-logo a::first-letter {
    font-weight: 700;
    color: #1abc9c;
}

.site-menu {
    padding: 0;
    margin: 0;
    float: right;
}

.site-menu li {
    float: left;
    margin-right: 40px;
    font-size: 14px;
    list-style: none;
    margin-top: 10px;
}

.site-menu li:nth-last-child(1) {
    margin-right: 0;
}

.site-menu a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    color: #0f0101;
}

.site-menu a:hover,
.site-menu a:focus {
    color: #1abc9c;
}

nav {
    margin-bottom: 90px;
}

/* main-content SECTION_1 */

.products-title {
    padding-bottom: 90px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

h2::after {
    display: block;
    width: 160px;
    height: 7px;
    background-color: #1abc9c;
    content: "";
    margin: 0 auto;
    margin-top: 32px;
}

.products-title {
    margin-bottom: 90px;
}

.products-list-item p {
    font-size: 18px;
    font-weight: 700;
    padding: 6px 0;
    padding-left: 10px;
    color: #ffffff;
}

.name_box {
    background-color: #000000;
    float: left;
    width: 80%;
}

.price_box {
    background-color: #8c8c8c;
    float: left;
    width: 20%;
}

p {
    margin: 0;
}

.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.products-list-item {
    width: 255px;
    float: left;
}

.products-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.products-list-item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
}

.products-list-item:hover .name_box {
    background-color: #1abc9c;
}

.products-list-item:hover .price_box {
    background-color: #7fd9c7;
}

/* main-content SECTION_2 */

.news-title {
    padding-bottom: 80px;
    margin-top: 95px;
}

.news-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.news-list-item {
    width: 350px;
    float: left;
}

.news-list-item:not(:nth-last-child(1)) {
    margin-right: 30px;
}

.news-list-item img {
    margin-bottom: 16px;
}

h3 {
    margin: 0;
    margin-bottom: 45px;
}

h3::after {
    display: block;
    content: "";
    width: 136px;
    height: 4px;
    background-color: #1abc9c;
    margin-top: 14px;
}

.news-list-item p {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
}

.btn_more {
    font-size: 16px;
    display: block;
    width: 160px;
    background-color: #4ec6ab;
    color: #ffffff;
    border-radius: 4px;
    padding: 14px 0;
    text-align: center;
}

.btn_more {
    margin-bottom: 50px;
}
