html {
    box-sizing: border-box;
}

*,
*::befor,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

