/* DEFAULT */

*{
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Kaushan Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.main-header {
    padding-top: 40px;
    padding-bottom: 110px;
}

.page-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* align-items: center; */
}

.site-logo {
    margin: 0;
    padding: 0;
}

.logo-page {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #95e1d3;
    text-decoration: none;
    animation: logo-rotate 3s;
    animation-iteration-count: infinite;
}

@keyframes logo-rotate {
    from {
    }
    to {
      transform: rotate(360deg);
    }
}

.menu-nav {
    display: flex;
    width: 490px;
    justify-content: space-between;
    list-style: none;
}

.list-menu {
    height: 40px;
    transition: all 200ms linear;
}

.menu-link {
    display: block;
    font-size: 14px;
    color: #95e1d3;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-link:hover {
    color: #f38181;
}

.menu-link:hover::after {
    display: block;
    content: '';
    margin-top: 12px;
    width: 100%;
    border: 1px solid #f38181;
}

.list-menu:hover {
    transform: scale(1.3);
}

/* MAIN CONTENT */

.subtitle {
    font-size: 24px;
    font-weight: normal;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

.title-section {
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.title-section::after {
    display: block;
    content: '';
    margin: 0 auto;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-top: 42px;
}

/* SECTION #1 */

.list-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding-top: 66px;
}

.title-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.text-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #b3b3b3;
}

.list-section {
    position: relative;
    flex-basis: 382px;
    padding-left: 82px;
}

.list-section:not(:nth-last-child(-n + 3)) {
    margin-bottom: 90px;
}

.list-section::before {
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
}

.list-section:nth-child(1):before {
    content: url(../img/icons/ALARM.png);
}

.list-section:nth-child(2):before {
    content: url(../img/icons/LINE\ GRAPH.png);
}

.list-section:nth-child(3):before {
    content: url(../img/icons/COMPUTER.png);
}

.list-section:nth-child(4):before {
    content: url(../img/icons/BOOK.png);
}

.list-section:nth-child(5):before {
    content: url(../img/icons/HOME.png);
}

.list-section:nth-child(6):before {
    content: url(../img/icons/IMAGE.png);
}

/* SECTION #2 */

.page-item-team {
    padding-top: 90px;
    padding-bottom: 85px;
}

.text-section-team {
    padding-top: 46px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #b3b3b3;
    text-align: center;
    padding-bottom: 90px;
}

.team-list-item {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 14px;
    margin-top: 30px;
}

.position {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    color: #b3b3b3;
}

.command {
    transition: all 200ms;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 470px;
    opacity: 0;
    background-image: linear-gradient(
         0deg, 
         rgba(252,227,138, 0.7) 0%, 
         rgba(243,129,129, 0.7) 100%
         );
    transition: all 200ms;
}

.team-item:hover .overlay {
    opacity: 1;
    box-shadow: 10px 10px #95e1d3;
}

.social-link:hover {
    background-color: #95e1d3;
}

.team-item:hover .command {
    transform: translate(-10px, -10px);
}

.social-icons {
    display: flex;
    list-style: none;
}

.social-link {
    display: block;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 200ms;
    margin-right: 1px;
}

.social-link.facebook {
    background-image: url(../img/icons-social/facebook.png);
}

.social-link.twitter {
    background-image: url(../img/icons-social/twitter.png);
}

.social-link.pinterest {
    background-image: url(../img/icons-social/pinterest.png);
}

.social-link.instagram {
    background-image: url(../img/icons-social/instagram.png);
}

/* FOOTER */

.page-footer-symbol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
    border-top: 1px solid #e5e5e5;
}

.licence-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.color-text {
    color: #f9c0c0;
    text-decoration: none;
}

/* SUBSCRIBE-EMAIL-BUTTON */

.form-mail {
    display: flex;
}

.mail {
    height: 40px;
    width: 230px;
    padding: 10px 8px;
    font-style: italic;
    border: 1px solid #e5e5e5;
}

.mail::placeholder {
    color: #b3b3b3;
}

.subscribe-btn {
    height: 40px;
    width: 150px;
    border: none;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #95e1d3;
}