/* DEFAULT */

*{
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Kaushan Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.main-header {
    padding-top: 40px;
    padding-bottom: 110px;
}

.page-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* align-items: center; */
}

.site-logo {
    margin: 0;
    padding: 0;
}

.logo-page {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #95e1d3;
    text-decoration: none;
    animation: logo-rotate 3s;
    animation-iteration-count: infinite;
}

@keyframes logo-rotate {
    from {
    }
    to {
      transform: rotate(360deg);
    }
}

.menu-nav {
    display: flex;
    width: 490px;
    justify-content: space-between;
    list-style: none;
}

.list-menu {
    transition: all 200ms linear;
}

.menu-link {
    display: block;
    font-size: 14px;
    color: #95e1d3;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-link:hover {
    color: #f38181;
}

.menu-link:hover::after {
    display: block;
    content: '';
    margin-top: 12px;
    width: 100%;
    border: 1px solid #f38181;
}

.list-menu:hover {
    transform: scale(1.4);
}

/* MAIN CONTENT */



