@media(min-width: 768px) {
    /* BOOTSTRAP */
    .page-header {
        padding-bottom: 234px;
    }
    /* End */

    .flex-tablet {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 150px;
    }

    /* BOOTSTRAP */
    .header-page {
        margin-bottom: 0;
    }
    /* End */

    /* BOOTSTRAP */
    .section-title {
        margin-bottom: 30px;
    }
    /* End */

    .site-name-link,
    .page-header-list {
        margin: 0;
        padding: 0;
    }

    /* BOOTSTRAP */
    .link-name-site {
        margin-bottom: 150px;
    }
    /* End */

    .team-list-section {
        display: flex;
        flex-wrap: wrap;
        width: 492px;
        margin: 0 auto;
        list-style: none;
    }

    .team-list-section {
        margin-bottom: 37px;
    }

    /* BOOTSTRAP */
    .team-list {
        margin-bottom: 0;
    }
    /* End */

    .list-team {
        margin-bottom: 55px;
    }

    .page-main-section {
        padding-bottom: 40px;
    }
}

@media(min-width: 942px) {
   .team-list-section {
       width: 100%;
   }

   .list-team:not(:last-child) {
       margin-bottom: 0;
   }

   .page-main-section {
    padding-bottom: 73px;
   }
}

